/* HEADER */
header {
  padding: 1em 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border: solid 2px var(--secondary-theme);
  border-radius: 0.4em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--secondary-theme);
  cursor: pointer;
}

header .logo:hover {
  color: white;
  border-color: white;
}

.logo .number {
  position: absolute;
  top: 0.1em;
  left: 0.25em;
  font-size: 0.75rem;
  font-weight: 600;
}

.logo .letter {
  font-family: "Patua One", cursive;
  font-size: 1.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

.nav-links li {
  color: var(--secondary-theme);
  font-weight: 600;
  cursor: pointer;
}

.nav-links li:hover {
  color: white;
}

/* MAIN */
section {
  position: relative;
}

.intro .background-image {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.intro .background-image p {
  font-size: 1.5rem;
  font-family: "Patua One", cursive;
  color: var(--secondary-theme);
  letter-spacing: 0.05rem;
}

.about {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

.about h2 {
  color: var(--primary-theme);
}

.about > p {
  width: 60%;
  margin: 0 auto 5em;
}

.about .cards-container {
  display: flex;
  gap: 1em;
}

.about .cards-container .card {
  padding: 2.5em 1.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  align-items: center;
  background-color: #f6f1f1;
  color: rgba(0, 0, 0, 0.7);
}

.about .cards-container .card .description {
  color: rgba(0, 0, 0, 0.6);
}

.about .cards-container .card .icon-container {
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
}

.about .cards-container .card .icon-container .icon {
  color: var(--primary-theme);
  font-size: 1.5rem;
}

.journey {
  background-color: #ebf3f7;
  padding-top: 4em;
  padding-bottom: 4em;
}

.journey .timeline {
  margin-top: 4em;
}

.journey .timeline .row {
  display: flex;
}

.journey .row > div {
  flex-basis: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
}

.journey .row .container-lhs {
  justify-content: end;
  border-right: solid 6px black;
  position: relative;
}

.journey .row .container-rhs {
  position: relative;
}

.journey .row .timeline-indicator {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: solid 4px black;
  background-color: white;
  position: absolute;
}

.journey .row .container-lhs .timeline-indicator {
  right: -18px;
}

.journey .row .container-rhs .timeline-indicator {
  left: -18px;
}

.journey .row .timeline-end {
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.journey .row .container-lhs .timeline-end {
  right: -11px;
  bottom: 98%;
}

.journey .row .container-rhs .timeline-end {
  left: -11px;
  top: 98%;
}

.journey .row .content-container > div {
  background-color: white;
  border-radius: 0.5em;
  text-align: left;
  padding: 1em;
}

.journey h3 {
  color: var(--primary-theme);
}

.projects {
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}

.projects h2 {
  color: var(--primary-theme);
}

.projects > p {
  width: 60%;
  margin: 0 auto 5em;
}

.projects .previews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.projects .previews-container .preview {
  flex-basis: 32%;
  border-radius: 0.5em;
  overflow: hidden;
}

.cta {
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.cta h2 {
  color: var(--primary-theme);
  margin: 0;
}

.cta button {
  padding: 0.5em 1em;
  background-color: var(--primary-theme);
  color: white;
  border: none;
  border-radius: 0.5em;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5em;
  cursor: pointer;
  text-transform: capitalize;
}

/* FOOTER */
footer {
  background-color: #ebf3f7;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-top: 4em;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

footer .logo {
  color: var(--primary-theme);
  border-color: var(--primary-theme);
  background-color: white;
}

footer .links-container {
  display: flex;
  gap: 1em;
}

footer .links-container .link {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--primary-theme);
  background-color: white;
}

footer .links-container .link .icon {
  color: var(--primary-theme);
}

footer .copyright .icon {
  margin-right: 0.5em;
}

/* HEADINGS */
h1 {
  font-size: 4rem;
  font-family: "Patua One", cursive;
  color: white;
  letter-spacing: 0.05rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 1em;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-theme);
  margin-bottom: 0.5em;
}
