header {
  padding: 0.5em;
}

.logo {
  border: solid 3px var(--primary-theme);
  border-radius: 0.4em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--primary-theme);
}

.logo .number {
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  font-size: 0.75rem;
  font-weight: 600;
}

.logo .letter {
  font-family: "Patua One", cursive;
  font-size: 1.3rem;
}
